@{
    ViewBag.Title = "Confirm";
}

<div class="alert alert-success" role="alert">
    <p>Twój adres e-mail został zweryfikowany. Dziękujemy!</p>
    <p>W razie problemów skontaktuj się działem deweloperskim</p>
    <p>@Html.ActionLink("Kontakt", "Contact", "Home")</p>
</div>

