
@{
    ViewBag.Title = "Dashboard";
}

<h2>EMPTY DASHBOARD VIEW.</h2>

<h2>@ViewBag.User.FirstName's dashboard,</h2>

<section class="body-content">
    <div class="projects-container">
        <button id="btnShowModal" class="btn btn-sm btn-default">
            Add Project
        </button>
    </div>
    <div class="reminder-container">

    </div>
</section>