@{
    ViewBag.Title = "ForgottenPassword";
}

<h2>Zapomniałeś hasła?</h2>

@if (ViewBag.Message == null)
{
    <h3>Podaj adres e-mail powiązany z kontem Diploma. Na podany adres zostanie wysłana wiadomość z odpowiednimi instrukcjami.</h3>
}

<h3>@ViewBag.Message</h3>

@using (@Html.BeginForm("PasswordRecovery", "User", new { uri = @ViewBag.Uri }, FormMethod.Post, new { @class = "register" }))
{
    @Html.AntiForgeryToken()
    <div id="register" class="register-content body-content">
        <div class="form-signin">
            <form class="form-horizontal">
                <div class="form-group">
                    <input name="Email" type="email" class="form-control" id="passwordField" placeholder="Adres E-mail" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Wyślij</button>
                </div>
            </form>
        </div>
    </div>
}


