<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p>
           Dziękujemy za utworzenie konta. 
           Aby zakończyć proces rejestracji musimy zweryfikować twój adres e-mail.
           Kliknij <a href="@ViewBag.ConfirmationLink">tutaj</a> aby aktywować swoje konto.
            <br />
           DiplomaDevTeam
        </p>
    </div>
</body>
</html>
