<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width"/>
  <title></title>
</head>
<body>
<div>
  <h5>
    Witam
  </h5>
  <p>
    Mam problem z taskiem <b> $$Task.Title</b>
  </p>
  <p>
    $$Task.Description
  </p>
  
  <p>
    $$Message
  </p>
  
  <p>Pozdrawiam</p>
  <p>$$User.FirstName $$User.LastName</p>
</div>
</body>
</html>