<footer>
    <ul class="socialList">
        <li><a href="https://github.com/RSzkorla/Diploma" target="_blank"><i class="fab fa-github"></i></a></li>
        <li><a><i class="fab fa-facebook"></i></a></li>
        <li><a><i class="fab fa-youtube"></i></a></li>
    </ul>
    <ul class="linkList">
        <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
        <li>@Html.ActionLink("Regulamin", "Terms", "Home")</li>
        <li>@Html.ActionLink("FAQ", "FrequentlyAQ", "Home")</li>
    </ul>
    <p>&copy; @DateTime.Now.Year by Diploma DevTeam</p>
</footer>