@{
    ViewBag.Title = "Contact";
}

<div class="body-content">
    <h2>Kontakt z działem deweloperskim</h2>
    <h3>Użyj śmiało formularza poniżej</h3>

    @{ Html.RenderPartial("_ContactForm");}

    <address>
        <p>Diploma Team</p>
        <p>Bielsko-Biała, Akademia Techniczno-Humanistyczna ul. Willowa 2</p>
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>
</div>