@{
    ViewBag.Title = "Home Page";
}

<section class="row features">
    <h3>Dlaczego warto wybrać Diploma?</h3>
    <div class="col-md-4">
        <h3>Stały kontakt z promotorem</h3>
        <p>Diploma umożliwi ci pewny kontakt z promotorem podczas twojej pracy</p>
        <span class="glyphicon glyphicon-phone"></span>
    </div>
    <div class="col-md-4">
        <h3>Produktywność</h3>
        <p>Zrób więcej dzięki osobistym retrospecjom i rozbudowanemu planowaniu</p>
        <span class="glyphicon glyphicon-signal"></span>
    </div>
    <div class="col-md-4">
        <h3>Terminowość</h3>
        <p>Optymalne planowanie czasu to podstawa do sprawnego i efektywnego pisania pracy</p>
        <span class="glyphicon glyphicon-calendar"></span>
    </div>
</section>
<section class="coaching">
    <h3>Lorem ipsum tu będzie super header</h3>
    <div class="row">
        <div class="col-md-6">
            <img src="~/Images/study.jpg" alt="Study Person" />
        </div>
        <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet, cadipisicing  sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde fuga error commodi architecto, oribus omnis minus temporibus perferendis nesciunt quam repellendus nulla nemo ipsum odit corrupti consequuntur possimus, vero mollitia velit ad consectetur. Alias, laborum excepturi nihil autem nemo numquam, ipsa architecto non, magni consequuntlaudantium culpa tenetur at id, beatae pet.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. adipisicing  sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium,m deserunt.</p>
            <ul class="list-unstyled">
                <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Lorem ipsum enimdolor sit amet</li>
                <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Explicabo deleniti neque aliquid</li>
                <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Consectetur adipisicing elit</li>
                <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Lorem ipsum dolor sit amet</li>
                <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Quo issimos molest quibusdam temporibus</li>
            </ul>
        </div>
    </div>
</section>

@using (@Html.BeginForm("RegisterUser", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    if (ViewBag.Message != null)
                {
        <h3>@ViewBag.Message</h3>
    }

    <section id="register">
        <div class="form-signin">
            <form class="form-horizontal">
                <!--TODO beginform?-->
                <div class="form-group">
                    <label for="FirstName" class="col-xs-3">Imię</label>
                    <input name="FirstName" type="text" class="form-control" id="nameField" placeholder="Twoje imię" />
                </div>
                <div class="form-group">
                    <label for="LastName" class="col-xs-3">Nazwisko</label>
                    <input name="LastName" type="text" class="form-control" id="lastnameField" placeholder="Twoje nazwisko" />
                </div>
                <div class="form-group">
                    <label for="Email" class="col-xs-3">Email</label>
                    <input name="Email" type="text" class="form-control" id="lastnameField" placeholder="Twój email" />
                </div>
                <div class="form-group">
                    <label for="Password" class="col-xs-3">Hasło</label>
                    <input name="Password" type="password" class="form-control" id="passwordField" placeholder="Twój e-mail" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Wyślij</button>
                </div>
            </form>
        </div>
    </section>
}
