@{
    ViewBag.Title = "Home Page";
}

<div class="slider">
    <h2>Zwlekasz z projektem?</h2>
    <p class="lead">Zacznij działać z Diploma!</p>
    <a href="#register" class="btn btn-primary btn-lg">GO</a>
</div>

<div class="row features">
    <h3>Dlaczego warto wybrać Diploma?</h3>
    <div class="col-md-4">
        <h3>Stały kontakt z promotorem</h3>
        <span class="glyphicon glyphicon-phone"></span>
    </div>
    <div class="col-md-4">
        <h3>Produktywność</h3>
        <span class="glyphicon glyphicon-signal"></span>
    </div>
    <div class="col-md-4">
        <h3>Terminowość</h3>
        <span class="glyphicon glyphicon-calendar"></span>
    </div>
</div>
<section class="coaching">
    <h3>Lorem ipsum tu będzie super header</h3>
    <div class="row">
        <div class="col-md-6">
            <img src="~/Images/study.jpg" alt="Study Person"/>
        </div>
        <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet, cadipisicing  sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde fuga error commodi architecto, oribus omnis minus temporibus perferendis nesciunt quam repellendus nulla nemo ipsum odit corrupti consequuntur possimus, vero mollitia velit ad consectetur. Alias, laborum excepturi nihil autem nemo numquam, ipsa architecto non, magni consequuntlaudantium culpa tenetur at id, beatae pet.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. adipisicing  sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium,m deserunt.</p>
            <ul class="list-unstyled">
                <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Lorem ipsum enimdolor sit amet</li>
                <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Explicabo deleniti neque aliquid</li>
                <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Consectetur adipisicing elit</li>
                <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Lorem ipsum dolor sit amet</li>
                <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Quo issimos molest quibusdam temporibus</li>
            </ul>
        </div>
    </div>
</section>

<section id="register">
    <fieldset>
        <div class="form-group">
            <label for="nameField">Imię</label>
            <input type="text" class="form-control" id="nameField" placeholder="Twoje imię" />
        </div>
        <div class="form-group">
            <label for="lastnameField">Nazwisko</label>
            <input type="text" class="form-control" id="lastnameField" placeholder="Twoje nazwisko" />
        </div>
        <div class="form-group">
            <label for="emailField">Email</label>
            <input type="text" class="form-control" id="lastnameField" placeholder="Twój email" />
        </div>
        <div class="form-group">
            <label for="passwordField">Hasło</label>
            <input type="password" class="form-control" id="passwordField" placeholder="Twój e-mail" />
        </div>
        <button type="submit" class="btn btn-primary">Wyślij</button>
    </fieldset>

</section>