
@{
    ViewBag.Title = "Terms";
}

<div class="body-content">
    <h2>Regulamin użytkowania Diploma</h2>
    <ol>
        <li>Nie spamuj promotora</li>
        <li>Nie spamuj nas (mamy co robić, serio)</li>
    </ol>
    <p>To jest tylko przykładowy regulamin</p>
</div>